name: commit-stage-frontend

on:
  push:
    branches: [ "main" ]
    paths:
      - 'flight-reserve-client/**'
      - '.github/workflows/commit-stage-frontend.yml'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'flight-reserve-client/**'
      - '.github/workflows/commit-stage-frontend.yml'
  workflow_dispatch:

concurrency:
  group: commit-stage-frontend-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest

    outputs:
      image-latest-url: ${{ steps.publish.outputs.image-latest-url }}
      image-digest-url: ${{ steps.publish.outputs.image-digest-url }}

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Normalize image namespace
        id: normalize
        run: echo "IMAGE_NAMESPACE=${GITHUB_REPOSITORY,,}" >> $GITHUB_ENV

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Publish Docker Image
        id: publish
        uses: optivem/publish-docker-image-action@v1
        with:
          working-directory: flight-reserve-client
          image-name: client
          registry: ghcr.io
          registry-username: ${{ github.actor }}
          image-namespace: ${{ env.IMAGE_NAMESPACE }}
          image-latest-tag: latest
          commit-sha: ${{ github.sha }}
          dockerfile: Dockerfile
        env:
          REGISTRY_PASSWORD: ${{ secrets.GITHUB_TOKEN }}

  summary:
    needs: build
    runs-on: ubuntu-latest
    if: always()

    steps:

      - name: Commit Stage Summary
        uses: optivem/summarize-commit-stage-action@v1
        with:
          stage-result: ${{ needs.build.result }}
          success-artifact-url: ${{ needs.build.outputs.image-latest-url }}